<!-- 카테고리 -->


    <!-- 카테고리 -->
    <div class="container">
        <div class="col-xs-4 box box-black box-text" onclick="location.href='/category/1'"><p>카페/디저트</p></div>
        <div class="col-xs-4 box box-gray" onclick="location.href='/category/2'"><p>아이스크림/도넛</p></div>
        <div class="col-xs-4 box box-black" onclick="location.href='/category/3'"><p>편의점/마트</p></div>
        <div class="col-xs-4 box box-gray" onclick="location.href='/category/4'"><p>버거/치즈/피자</p></div>
        <div class="col-xs-4 box box-black" onclick="location.href='/category/5'"><p>프랜차이즈</p></div>
        <div class="col-xs-4 box box-gray" onclick="location.href='/category/6'"><p>영화/테마파크/연극</p></div>
    </div>
